{
  "parser": "babel-eslint",
  "extends": "airbnb-base",

  "rules": {
    "no-restricted-syntax": [0],
    "no-mixed-operators": [0],
    "arrow-parens": [2, "as-needed"],
    "object-curly-newline__": [0],
    "no-param-reassign__": [0],
    "function-paren-newline__": [0],
    "import/prefer-default-export": [0]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
